<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!-- 该xml文件对应那个接口文件 -->
<mapper namespace="cn.tedu.store.mapper.GoodMapper">
	<!--  查找热点商品 -->
	<!--  List<Good> findHotList()-->
	<select id="findHotList" resultType="cn.tedu.store.entity.Good">
		SELECT 
			id,title,price,image
		FROM 
			t_goods
		WHERE
			status=1 and num>0
		ORDER BY
			priority desc
		LIMIT 0,4
	</select>
	
	<!-- 根据商品id查询商品信息 -->
	<!-- Good findById(Integer id)-->
	<select id="findById" resultType="cn.tedu.store.entity.Good">
		SELECT 
			title,price,
			image,
			sell_point AS sellPoint
		FROM 
			t_goods
		WHERE
			id=#{id}
	</select>
</mapper>